
<div class="container-fluid">
    <div id="home" class="row align-items-center tapaNovedades">
        <div class="col-lg-3 offset-lg-2" style="background: rgba(0,0,0,0.5);">
            
            <h1>NUESTRAS ÚLTIMAS CONSOLAS</h1>
            <h2>Acercate a concerlas</h2>
            
        </div>
    </div>

</div>