<div class="container-fluid">
    <div id="home" class="row align-items-center tapaNovedades">
        <div class="col-lg-3 offset-lg-2" style="background: rgba(0,0,0,0.5);">
            <h1>NUESTRAS ÚLTIMAS CONSOLAS</h1>
            <h2>Acercate a conocerlas</h2>
            
            <!-- Agregar el video de YouTube aquí -->
            <iframe width="400px" height="400px" src="https://www.youtube.com/embed/Vec5yrhU-z0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>


