<div class="container-fluid">
    <div id="home" class="row align-items-center tapaTorneo">
        <div class="col-lg-3 offset-lg-2" style="background: rgba(0,0,0,0.5);">
            <h1>TORNEO DAYTONA</h1>
            <h2>Acercate a participar</h2>
            
            <!-- Código corregido para embeber un video de YouTube -->
            <iframe width="400px" height="400px" src="https://www.youtube.com/embed/X1V_2pvlAiE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
