
<div class="container-fluid">
    <div id="home" class="row align-items-center tapaTorneo">
        <div class="col-lg-3 offset-lg-2" style="background: rgba(0,0,0,0.5);">
            
            <h1>TORNEO DAYTONA</h1>
            <h2>Acercate a participar</h2>
            
        </div>
    </div>

</div>